/*Variables*/
:root {
    --bg: #111;
    --white: #eee;

    --nav-1: #222;
    --nav-2: #333;
    --nav-3: #444;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: var(--bg);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    padding: 0 3em;
    height: 50px;
    background: var(--nav-1);
    overflow: hidden;
}

nav a {
    text-decoration: none;
    color: var(--white);
}

nav .brand-logo {
    text-transform: uppercase;
}

ul {
    display: inline;
    background: var(--nav-2);
    padding: 1em 0;

    justify-self: right;
}

ul li {
    display: inline;
    list-style-type: none;
}

ul li a {
    padding: 2em 2em;

}

ul li a:hover {
    background: var(--nav-3);
}